<!--  template/home.html -->
{% extends 'base.html' %}


{% block title %}
	Recuerdame
{% endblock title %}

{% block content %}

<div >
		<h1 clas="display-4">Recuerdame</h1>
		<p class="lead">Recuerdame</p>
		<p class="lead">
		<p>
			<a  href="{% url 'memorial_list' %}" role="button">Todos los Memorativos</a>  
		</p>
		<p>
		<a  href="{% url 'memorial_new' %}" role="button">Crear un Memorativo</a>                         
		</p>

		</p>
</div>



{% endblock content %}
~                           
