<!-- Memorial Detail View -->

{% extends 'base.html' %}


{% block title %}
<h3>
	This is memorial for
</h3>
<h2>	{{ memorial.get_full_name }}</h2>
{% endblock title %}


{% block content %}
		<img src="{{ memorial.profile_image.url }}" height="42" width="42" alt="could not load image">
		<p>Born on: {{ memorial.date_of_birth }} </p>
		<p>Passed on: {{ memorial.date_of_passing }} </p>
		<p>Bio: {{ memorial.biography }} </p>
		{% for eulogy in memorial.eulogy.all %}
		<p><i>"{{eulogy.quote}}"</i></p>
			<p>-{{eulogy.user}}</p>
	{% endfor %}

{% endblock content %}




