<!-- Memorial Detail View -->

{% extends 'base.html' %}


{% block title %}
<h3>
	This is memorial for
</h3>
<h2>	{{ memorial.get_full_name }}</h2>
{% endblock title %}


{% block content %}
		<img src="{{ memorial.cover_image.url }}" height="200" width="500" alt="could not load image">
		<img src="{{ memorial.profile_image.url }}" height="100" width="100" alt="could not load image">
		<p>Born on: {{ memorial.date_of_birth }} </p>
		<p>Passed on: {{ memorial.date_of_passing }} </p>
		<p>Bio: {{ memorial.biography }} </p>
		<p>Created by: {{ memorial.created_by }} </p>
		<p>manager: {{ memorial.manager }} </p>
		{% for eulogy in memorial.eulogy.all %}
		<p><i>"{{eulogy.quote}}"</i></p>
			<p>-{{eulogy.user}}</p>
	{% endfor %}

	<p> 
	<a href ="{% url 'memorial_update' memorial.pk %}"> edit</a> |
	<a href ="{% url 'memorial_delete' memorial.pk %}">delete</a> 
{% endblock content %}




