<!-- Memorial List -->

{% extends 'app_base.html' %}


{% block title %}
{% endblock title %}
{% block content %}
	
<div class=" container text-center mb-5 column position-relative bg-light rounded shadow-lg" 
		height="48rem" >
		<h2> Todos los Memorativos: </h2>
		<hr/>
		{% for memorial in object_list %}
		<a href="{% url 'memorial_detail' memorial.pk  %}">
				<div clas=" py-5 container row mx-5">
						<img class=" rounded" width=200rem  
						 src="{{ memorial.imagen_de_perfil.url|default:"nil" }}"
						alt="could not load image">
						<h2>{{ memorial.get_full_name }}</h2>
				</div>
		</a>
		<br>
		<br>

		{% endfor %}

</div>
{% endblock content %}




